@{
    ViewBag.Title = "Form layout";
    ViewBag.pTitle = "Form layout";
    ViewBag.pageTitle = "Forms";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@model Velzon.Models.tb_ator

@{
    var mensagem = TempData["mensagem"] as string; // Armazena o valor de TempData em uma variável
}

@if (mensagem == "Operação realizada com sucesso!")
{
    <div class="alert alert-success" role="alert">
        @mensagem
    </div>
}
else if (mensagem == "Por favor, preencha todos os campos obrigatórios para continuar.")
{
    <div class="alert alert-danger" role="alert">
        @mensagem
    </div>
}


<div class="row">
    <div class="row">
        <div class="col-lg-12">
            <div class="card">
                <div class="card-header align-items-center d-flex">
                    <h4 class="card-title mb-0 flex-grow-1">Cadastrar Consumidor</h4>
                    <div class="flex-shrink-0">
                    </div>
                </div><!-- end card header -->
                <div class="card-body">
                    <p class="text-muted">Aqui você pode adicionar os dados do consumidor para realizar o cadastro</p>
                    <div class="live-preview">
                        <form asp-controller="Consumidores" asp-action="CadastrarCosumidor" method="post"
                            onsubmit="removerSimboloPrecoCustoR$(),removerSimboloVlrVendaR$() ">
                            @* @Html.AntiForgeryToken() *@
                            <div class="row g-3">

                                <div class="col-lg-12">
                                    <div class="form-floating">
                                        <select class="form-select" id="Matriz" <select asp-for="fk_tb_matriz"
                                            class="form-select" id="Matriz" aria-label="Floating label select example">
                                            <option selected>Selecione...</option>
                                        </select>
                                        </select>
                                        <label for="Matriz">Martriz</label>
                                    </div>
                                </div>



                                @* <div class="col-lg-4">
                                    <div class="form-floating">
                                        <select asp-for="at_nfeTipoAmb" class="form-select"
                                            aria-label="Floating label select example" id="TipoAmb">
                                            <option selected>Selecione...</option>
                                            <option value="0">NAO DEFINIDO</option>
                                            <option value="1">Produção</option>
                                            <option value="2">Homologação</option>

                                        </select>
                                        <label for="TipoAmb">Ambiente da emissão da NF-e</label>
                                    </div>
                                </div> *@

                                <p class="text-muted">Dados</p>

                                <div class="col-lg-4">
                                    <div class="form-floating">
                                        <input asp-for="at_nomeFant" type="text" class="form-control" id="NomeAbreviado"
                                            minlength="10" maxlength="200" placeholder="Nome Abreviado">
                                        <label for="at_nomeFant">Nome abreviado </label>
                                    </div>
                                </div>

                                <div class="col-lg-8">
                                    <div class="form-floating">
                                        <input asp-for="at_razSoc" type="text" class="form-control" id="NomeCompleto"
                                            placeholder="Nome Complento" minlength="2" maxlength="100">
                                        <label for="at_razSoc">Nome Complento</label>
                                        <span asp-validation-for="at_razSoc" class="text-danger"></span>
                                    </div>
                                </div>

                                <div class="col-lg-3">
                                    <div class="form-floating">
                                        <input asp-for="at_cpf" type="text" class="form-control" id="cpf"
                                            placeholder="cpf">
                                        <label for="cpf">C.P.F.</label>
                                    </div>
                                </div>

                                <div class="col-lg-3">
                                    <div class="form-floating">
                                        <input asp-for="at_rgRne" type="text" class="form-control" id="rg"
                                            placeholder="gr" minlength="2">
                                        <label for="rg">R.G.</label>
                                    </div>
                                </div>

                                <p class="text-muted">Contatos</p>

                                <div class="col-lg-3">
                                    <div class="form-floating">
                                        <input asp-for="at_telFixo" type="text" class="form-control" id="TelFixo"
                                            placeholder="Tel. Fixo" minlength="2">
                                        <label for="TelFixo">Tel. Fixo</label>
                                    </div>
                                </div>

                                <div class="col-lg-3">
                                    <div class="form-floating">
                                        <input asp-for="at_telCel" type="text" class="form-control" id="TelCel"
                                            placeholder="Tel. Cel" minlength="2">
                                        <label for="TelCel">Tel. Cel</label>
                                    </div>
                                </div>

                                <div class="col-lg-6">
                                    <div class="form-floating">
                                        <input asp-for="at_email" type="email" class="form-control" id="Email"
                                            placeholder="Email" minlength="2">
                                        <label for="Preco">E-mail</label>
                                    </div>
                                </div>

                                <p class="text-muted">Endereço</p>

                                <div class="col-lg-2">
                                    <div class="form-floating">
                                        <input asp-for="at_end_Cep" type="text" class="form-control" id="cep"
                                            placeholder="CEP" minlength="2" maxlength="12">
                                        <label for="cep">C.E.P.</label>
                                    </div>
                                </div>

                                <div class="col-lg-7">
                                    <div class="form-floating">
                                        <input asp-for="at_end_Logr" type="text" class="form-control" id="endereco"
                                            placeholder="endereco" minlength="2" maxlength="12">
                                        <label for="endereco">Endereço</label>
                                    </div>
                                </div>

                                <div class="col-lg-2">
                                    <div class="form-floating">
                                        <input asp-for="at_end_Logr" type="text" class="form-control" id="numero"
                                            placeholder="numero" minlength="2" maxlength="12">
                                        <label for="numero">Número</label>
                                    </div>
                                </div>

                                <div class="col-lg-4">
                                    <div class="form-floating">
                                        <input asp-for="at_end_Logr" type="text" class="form-control" id="bairro"
                                            placeholder="bairro" minlength="2" maxlength="12">
                                        <label for="bairro">Bairro</label>
                                    </div>
                                </div>

                                <div class="col-lg-4">
                                    <div class="form-floating">
                                        <select asp-for="fk_tb_municipio" class="form-select" id="municipio"
                                            aria-label="Floating label select example">
                                            <option selected>Selecione...</option>
                                        </select>
                                        <label for="municipio">Municipio</label>
                                    </div>
                                </div>

                                <div class="col-lg-4">
                                    <div class="form-floating">
                                        <select asp-for="fk_tb_estados_br" class="form-select" id="estado"
                                            aria-label="Floating label select example">
                                            <option selected>Selecione...</option>
                                        </select>
                                        <label for="estado">Estado</label>
                                    </div>
                                </div>

                                <div class="col-lg-12">
                                    <div class="form-floating">
                                        <input asp-for="at_end_Logr" type="text" class="form-control" id="complemento"
                                            placeholder="complemento" minlength="2" maxlength="12">
                                        <label for="complemento">Complemento</label>
                                    </div>
                                </div>

                                @*   <div class="col-lg-3">
                                    <div class="form-floating">
                                        <select asp-for="fk_tb_categoria_produto" class="form-select" id="Categoria"
                                            aria-label="Floating label select example">
                                            <option selected>Selecione...</option>
                                        </select>
                                        <label for="Categoria">Categoria</label>
                                    </div>
                                </div>

                                <div class="col-lg-3">
                                    <div class="form-floating">
                                        <select asp-for="fk_tb_subcategoria_produto" class="form-select"
                                            id="SubCategoria" aria-label="Floating label select example">
                                            <option selected>Selecione...</option>
                                        </select>
                                        <label for="SubCategoria">SubCategoria</label>
                                    </div>
                                </div>

                                <div class="col-lg-4">
                                    <div class="form-floating">
                                        <input asp-for="pd_cstUnComBase" type="text" class="form-control" id="Preco"
                                            placeholder="Preço" minlength="2" maxlength="12">
                                        <label for="Preco">Preço de Custo</label>
                                    </div>
                                </div>

                                <div class="col-lg-4">
                                    <div class="form-floating">
                                        <select asp-for="pd_unMedCom" class="form-select"
                                            aria-label="Floating label select example" id="Un">
                                            <option selected>Selecione...</option>
                                            <option value="0">NAO DEFINIDO</option>
                                            <option value="1">UN</option>
                                            <option value="2">PC</option>
                                            <option value="3">PT</option>
                                            <option value="4">RL</option>
                                            <option value="5">BN</option>
                                            <option value="6">BL</option>
                                            <option value="7">CO</option>
                                            <option value="10">KG</option>
                                            <option value="11">KT</option>
                                            <option value="20">MT</option>
                                            <option value="21">M2</option>
                                            <option value="22">M3</option>
                                            <option value="30">LT</option>
                                            <option value="31">ML</option>
                                            <option value="32">FL</option>
                                            <option value="42">MW</option>
                                            <option value="50">PR</option>
                                            <option value="51">DZ</option>
                                            <option value="52">CJ</option>
                                            <option value="53">CX</option>
                                            <option value="54">FD</option>
                                            <option value="55">SD</option>
                                            <option value="56">JG</option>
                                            <option value="57">FR</option>
                                            <option value="58">TB</option>
                                            <option value="59">BD</option>
                                            <option value="60">FC</option>
                                            <option value="61">TU</option>
                                            <option value="62">GL</option>
                                            <option value="63">LA</option>
                                            <option value="64">MI</option>
                                        </select>
                                        <label for="Un">Un.</label>
                                    </div>
                                </div>

                                <div class="col-lg-4">
                                    <div class="form-floating">
                                        <input asp-for="pd_vlrUnComBase" type="text" class="form-control" id="PrecoUn"
                                            placeholder="Enter your city" minlength="2" maxlength="12">
                                        <label for="PrecoUn">Preço Un.</label>
                                    </div>
                                </div>

                                <div class="col-lg-4">
                                    <div class="form-floating">
                                        <input asp-for="pd_estTot" type="number" class="form-control"
                                            id="EstoqueInicial" placeholder="Enter your city" minlength="2"
                                            maxlength="10">
                                        <label for="EstoqueInicial">Estoque Inicial</label>
                                    </div>
                                </div>

                                <div class="col-lg-4">
                                    <div class="form-floating">
                                        <input asp-for="pd_estMaxBase" type="number" class="form-control"
                                            id="EstoqueMaximo" placeholder="Enter your zipcode" minlength="2"
                                            maxlength="10">
                                        <label for="EstoqueMaximo">Estoque Máximo</label>
                                    </div>
                                </div>

                                <div class="col-lg-4">
                                    <div class="form-floating">
                                        <input asp-for="pd_estMinBase" type="number" class="form-control"
                                            id="EstoqueMinimo" placeholder="Enter your zipcode" minlength="2"
                                            maxlength="10">
                                        <label for="EstoqueMinimo">Estoque Mínimo</label>
                                    </div>
                                </div>*@

                                <div class="col-lg-12">
                                    <div class="text-end">
                                        <button type="submit" class="btn btn-primary">Salvar</button>
                                    </div>
                                </div>

                            </div>

                        </form>
                    </div>
                    <div class="d-none code-view">
                        <pre class="language-markup" style="height: 275px">
<code>&lt;form action=&quot;#&quot;&gt;
    &lt;div class=&quot;row g-3&quot;&gt;
        &lt;div class=&quot;col-lg-6&quot;&gt;
            &lt;div class=&quot;form-floating&quot;&gt;
                &lt;input type=&quot;text&quot; class=&quot;form-control&quot; id=&quot;firstnamefloatingInput&quot; placeholder=&quot;Enter your firstname&quot;&gt;
                &lt;label for=&quot;firstnamefloatingInput&quot;&gt;First Name&lt;/label&gt;
            &lt;/div&gt;
        &lt;/div&gt;
        &lt;div class=&quot;col-lg-6&quot;&gt;
            &lt;div class=&quot;form-floating&quot;&gt;
                &lt;input type=&quot;text&quot; class=&quot;form-control&quot; id=&quot;lastnamefloatingInput&quot; placeholder=&quot;Enter your Lastname&quot;&gt;
                &lt;label for=&quot;lastnamefloatingInput&quot;&gt;Last Name&lt;/label&gt;
            &lt;/div&gt;
        &lt;/div&gt;
        &lt;div class=&quot;col-lg-4&quot;&gt;
            &lt;div class=&quot;form-floating&quot;&gt;
                &lt;input type=&quot;email&quot; class=&quot;form-control&quot; id=&quot;emailfloatingInput&quot; placeholder=&quot;Enter your email&quot;&gt;
                &lt;label for=&quot;emailfloatingInput&quot;&gt;Email Address&lt;/label&gt;
            &lt;/div&gt;
        &lt;/div&gt;
        &lt;div class=&quot;col-lg-4&quot;&gt;
            &lt;div class=&quot;form-floating&quot;&gt;
                &lt;input type=&quot;password&quot; class=&quot;form-control&quot; id=&quot;passwordfloatingInput&quot; placeholder=&quot;Enter your password&quot;&gt;
                &lt;label for=&quot;passwordfloatingInput&quot;&gt;Password&lt;/label&gt;
            &lt;/div&gt;
        &lt;/div&gt;
        &lt;div class=&quot;col-lg-4&quot;&gt;
            &lt;div class=&quot;form-floating&quot;&gt;
                &lt;input type=&quot;password&quot; class=&quot;form-control&quot; id=&quot;passwordfloatingInput1&quot; placeholder=&quot;Confirm password&quot;&gt;
                &lt;label for=&quot;passwordfloatingInput1&quot;&gt;Confirm Password&lt;/label&gt;
            &lt;/div&gt;
        &lt;/div&gt;
        &lt;div class=&quot;col-lg-4&quot;&gt;
            &lt;div class=&quot;form-floating&quot;&gt;
                &lt;input type=&quot;text&quot; class=&quot;form-control&quot; id=&quot;cityfloatingInput&quot; placeholder=&quot;Enter your city&quot;&gt;
                &lt;label for=&quot;cityfloatingInput&quot;&gt;City&lt;/label&gt;
            &lt;/div&gt;
        &lt;/div&gt;
        &lt;div class=&quot;col-lg-4&quot;&gt;
            &lt;div class=&quot;form-floating&quot;&gt;
                &lt;select class=&quot;form-select&quot; id=&quot;floatingSelect&quot; aria-label=&quot;Floating label select example&quot;&gt;
                  &lt;option selected&gt;USA&lt;/option&gt;
                  &lt;option value=&quot;1&quot;&gt;Brazil&lt;/option&gt;
                  &lt;option value=&quot;2&quot;&gt;France&lt;/option&gt;
                  &lt;option value=&quot;3&quot;&gt;Germany&lt;/option&gt;
                &lt;/select&gt;
                &lt;label for=&quot;floatingSelect&quot;&gt;Country&lt;/label&gt;
            &lt;/div&gt;
        &lt;/div&gt;
        &lt;div class=&quot;col-lg-4&quot;&gt;
            &lt;div class=&quot;form-floating&quot;&gt;
                &lt;input type=&quot;number&quot; class=&quot;form-control&quot; id=&quot;zipfloatingInput&quot; placeholder=&quot;Enter your zipcode&quot;&gt;
                &lt;label for=&quot;zipfloatingInput&quot;&gt;Zipcode&lt;/label&gt;
            &lt;/div&gt;
        &lt;/div&gt;
        &lt;div class=&quot;col-lg-12&quot;&gt;
            &lt;div class=&quot;text-end&quot;&gt;
                &lt;button type=&quot;submit&quot; class=&quot;btn btn-primary&quot;&gt;Submit&lt;/button&gt;
            &lt;/div&gt;
        &lt;/div&gt;
    &lt;/div&gt;
&lt;/form&gt;</code></pre>
                    </div>
                </div>
            </div>
        </div>
    </div>

    @section scripts {
        <!-- prismjs plugin -->
        <script src="~/assets/libs/prismjs/prism.js"></script>
        <script src="~/assets/js/app.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/cleave.js@1.6.0"></script>


        <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validate/1.19.5/jquery.validate.min.js"></script>
        <script
            src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validate-unobtrusive/3.2.13/jquery.validate.unobtrusive.min.js"></script>

        <script>

            const baseUrlMatriz = window.location.origin;
            const apiUrlMatriz = `${baseUrlMatriz}/Matriz/GetMatriz`;
            const comboBoxMatriz = document.getElementById("Matriz");

            async function carregarMatriz() {

                try {

                    const response = await fetch(apiUrlMatriz);

                    if (!response.ok) {
                        throw new Error("Erro ao buscar o código da matriz.");
                    }

                    const matriz = await response.json();


                    // Limpa as opções anteriores
                    comboBoxMatriz.innerHTML = '<option selected disabled>Selecione...</option>';

                    // Adiciona as opções dinamicamente
                    matriz.forEach(matriz => {
                        const option = document.createElement("option");
                        option.value = matriz.id_matriz; // Define o value como o ID da matriz
                        option.textContent = matriz.mt_nomeFant, matriz.mt_razSoc; // Define o texto como o nome da matriz
                        comboBoxMatriz.appendChild(option);
                    });
                } catch (error) {
                    console.error("Erro ao carregar as matriz:", error);
                }
            }

            // Chama a função ao carregar a página
            document.addEventListener("DOMContentLoaded", carregarMatriz);
        </script>

        @* Formatando para RG *@
        <script>

            document.addEventListener("DOMContentLoaded", function () {
                if (document.querySelector("#rg")) {
                    var cleave = new Cleave("#rg", {
                        delimiters: [".", ".", "-"],
                        blocks: [2, 3, 3, 1], // Tamanho dos grupos de números
                        numericOnly: true    // Permite apenas números
                    });
                }
            });

            @*Verificação se RG ja esta cadatrado*@
            @* $(function () {
                    $('#rg').blur(function () {
                        var rg = $(this).val();
                        $.ajax({
                            url: '@Url.Action("VerificarRGExistente", "Cliente")',
                            type: 'POST',
                            data: { RG: rg },
                            success: function (result) {

                            }
                        });
                    });
                }); *@

        </script>


        @* Formatando para CPF *@
        <script>

                document.addEventListener("DOMContentLoaded", function () {
                    if (document.querySelector("#cpf")) {
                        var cleave = new Cleave("#cpf", {
                            delimiters: [".", ".", "-"],
                            blocks: [3, 3, 3, 2], // Tamanho dos grupos de números
                            numericOnly: true    // Permite apenas números
                        });
                    }
                });

        </script>


        @* Formatando para Tel Fixo *@
        <script>

            document.addEventListener("DOMContentLoaded", function () {
                if (document.querySelector("#TelFixo")) {
                    var cleave = new Cleave("#TelFixo", {
                        delimiters: ["(", ")", " ", "-"],
                        blocks: [0, 2, 0, 4, 4], // Tamanho dos grupos de números
                        numericOnly: true    // Permite apenas números
                    });
                }
            });

        </script>


        @* Formatando para Tel Cel *@
        <script>

            document.addEventListener("DOMContentLoaded", function () {
                if (document.querySelector("#TelCel")) {
                    var cleave = new Cleave("#TelCel", {
                        delimiters: ["(", ")", " ", "9", "-"],
                        blocks: [0, 2, 0, 0, 4, 7], // Tamanho dos grupos de números
                        numericOnly: true    // Permite apenas números
                    });
                }
            });

        </script>

        @* Formatando para Cep *@
        <script>

            document.addEventListener("DOMContentLoaded", function () {
                if (document.querySelector("#cep")) {
                    var cleave = new Cleave("#cep", {
                        delimiters: ["-"],
                        blocks: [5, 3], // Tamanho dos grupos de números
                        numericOnly: true    // Permite apenas números
                    });
                }
            });

        </script>

        @*Setando Endereço com base no CEP*@
        <script>

            $(document).ready(function () {
                var cepInput = $("#cep");
                $("#cep").change(function () {
                    var cep = cepInput.val();
                    console.log(cep)
                    if (cep.length >= 9) {
                        $.ajax({
                            url: `/CEP/BuscarCEP?cep=${cep}`,

                            method: "GET",
                            success: (data) => {
                                console.log(data.estado);
                                console.log(data.localidade);
                                $("input[id='endereco']").val(data.logradouro);
                                $("input[id='bairro']").val(data.bairro);
                                $("input[id='municipio']").val(data.localidade);
                                $("#estado").val(data.estado);
                                $("input[id='complemento']").val(data.complemento);
                            },
                            error: (error) => {
                                console.error(error);
                            }
                        });
                    }
                });
            });

        </script>

        <script>
            const baseUrlMunicipio = window.location.origin;
            const apiUrlMunicipios = `${baseUrlMunicipio}/CEP/GetMunicipio`;
            const comboBoxMunicipio = document.getElementById("municipio");

            // Valor atual do campo (ID da categoria) vindo do modelo via Razor
            @* const categoriaSelecionada = @Html.Raw(Json.Serialize(Model.fk_tb_categoria_produto ?? 0)); *@

                async function carregarMunicipio() {
                    try {
                        const response = await fetch(apiUrlMunicipios);

                        if (!response.ok) {
                            throw new Error("Erro ao buscar os Municipios.");
                        }

                        const municipios = await response.json();

                        // Adiciona as opções dinamicamente
                        municipios.forEach(municipio => {
                            const option = document.createElement("option");
                            option.value = municipio.id_municipio; // Define o value como o ID da municipio
                            option.textContent = municipio.mu_nome; // Define o texto como o nome da municipio

                            comboBoxMunicipio.appendChild(option);
                        });
                    } catch (error) {
                        console.error("Erro ao carregar as municipios:", error);
                    }
                }

            // Chama a função ao carregar a página
            document.addEventListener("DOMContentLoaded", carregarMunicipio);
        </script>

        <script>
            const baseUrlEstado = window.location.origin;
            const apiUrlEstados = `${baseUrlEstado}/CEP/GetEstado`;
            const comboBoxEstado = document.getElementById("estado");

            // Valor atual do campo (ID da categoria) vindo do modelo via Razor
            @* const categoriaSelecionada = @Html.Raw(Json.Serialize(Model.fk_tb_categoria_produto ?? 0)); *@

                async function carregarEstado() {
                    try {
                        const response = await fetch(apiUrlEstados);

                        if (!response.ok) {
                            throw new Error("Erro ao buscar os Estados.");
                        }

                        const estados = await response.json();

                        // Adiciona as opções dinamicamente
                        estados.forEach(estado => {
                            const option = document.createElement("option");
                            option.value = estado.id_estados_br; // Define o value como o ID da municipio
                            option.textContent = estado.eb_nome; // Define o texto como o nome da municipio

                            comboBoxEstado.appendChild(option);
                        });
                    } catch (error) {
                        console.error("Erro ao carregar as estados:", error);
                    }
                }

            // Chama a função ao carregar a página
            document.addEventListener("DOMContentLoaded", carregarEstado);

        </script>

        @* <script>

            const baseUrlCategoria = window.location.origin;
            const apiUrlCategorias = `${baseUrlCategoria}/Categorias/GetCategorias`;
            const comboBoxCategoria = document.getElementById("Categoria");

            async function carregarCategorias() {
                try {
                    const response = await fetch(apiUrlCategorias);

                    if (!response.ok) {
                        throw new Error("Erro ao buscar o código do produto.");
                    }

                    const categorias = await response.json();

                    // Limpa as opções anteriores
                    comboBoxCategoria.innerHTML = '<option selected disabled>Selecione...</option>';

                    // Adiciona as opções dinamicamente
                    categorias.forEach(categoria => {
                        const option = document.createElement("option");
                        option.value = categoria.id_categoria_produto; // Define o value como o ID da categoria
                        option.textContent = categoria.cp_desc; // Define o texto como o nome da categoria
                        comboBoxCategoria.appendChild(option);
                    });
                } catch (error) {
                    console.error("Erro ao carregar as categorias:", error);
                }
            }

            // Chama a função ao carregar a página
            document.addEventListener("DOMContentLoaded", carregarCategorias);

        </script>

        <script>

            const baseUrlSubCategoria = window.location.origin;
            const apiUrlSubCategorias = `${baseUrlSubCategoria}/SubCategorias/GetSubCategorias`;

            const comboBoxSubCategoria = document.getElementById("SubCategoria");

            async function carregarSubCategorias() {
                try {
                    const response = await fetch(apiUrlSubCategorias);

                    if (!response.ok) {
                        throw new Error("Erro ao buscar o código do produto.");
                    }

                    const subcategorias = await response.json();

                    // Limpa as opções anteriores
                    comboBoxSubCategoria.innerHTML = '<option selected disabled>Selecione...</option>';

                    // Adiciona as opções dinamicamente
                    subcategorias.forEach(subcategoria => {
                        const option = document.createElement("option");
                        option.value = subcategoria.id_subcategoria_produto; // Define o value como o ID da subcategoria
                        option.textContent = subcategoria.scp_desc; // Define o texto como o nome da subcategoria
                        comboBoxSubCategoria.appendChild(option);
                    });
                } catch (error) {
                    console.error("Erro ao carregar as subcategorias:", error);
                }
            }

            // Chama a função ao carregar a página
            document.addEventListener("DOMContentLoaded", carregarSubCategorias);
        </script>

        <script>
            // URL da API para obter o código do produto
            const baseUrlCodProd = window.location.origin;
            const apiUrlCodProd = `${baseUrlCodProd}/Produtos/GetCodProduto`;

            // Campo de entrada onde será exibido o código do produto
            const inputCodigoProd = document.getElementById("CodigoProd");

            // Função para carregar o código do produto
            async function carregarCodigoProduto() {
                try {
                    const response = await fetch(apiUrlCodProd);

                    if (!response.ok) {
                        throw new Error("Erro ao buscar o código do produto.");
                    }

                    const codProd = await response.json();

                    // Define o valor retornado no campo de entrada
                    if (codProd && codProd.pd_codRef) {
                        inputCodigoProd.value = codProd.pd_codRef; // Define o código no campo
                    } else {
                        console.warn("Nenhum código de produto encontrado.");
                    }
                } catch (error) {
                    console.error("Erro ao carregar o código do produto:", error);
                }
            }

            // Chama a função ao carregar a página
            document.addEventListener("DOMContentLoaded", carregarCodigoProduto);
        </script>

        <script>
            // Formato de moeda enquanto o usuário digita
            document.getElementById("PrecoUn").addEventListener("input", function (e) {
                const value = parseFloat(e.target.value.replace(/[^\d]/g, '')) / 100;
                e.target.value = new Intl.NumberFormat("pt-BR", {
                    style: "currency",
                    currency: "BRL"
                }).format(value);
            });
        </script>

        <script>
        //Remover o simbolo de R$ no momento do input
            function removerSimboloVlrVendaR$() {
                var input = document.getElementById("PrecoUn");
                var valorSemSimbolo = input.value.replace(/R\$|\,/g, "").trim();
                input.value = valorSemSimbolo;
            }
        </script>

        <script>
            // Formato de moeda enquanto o usuário digita
            document.getElementById("Preco").addEventListener("input", function (e) {
                const value = parseFloat(e.target.value.replace(/[^\d]/g, '')) / 100;
                e.target.value = new Intl.NumberFormat("pt-BR", {
                    style: "currency",
                    currency: "BRL"
                }).format(value);
            });
        </script>

        <script>
        //Remover o simbolo de R$ no momento do input
            function removerSimboloPrecoCustoR$() {
                var input = document.getElementById("Preco");
                var valorSemSimbolo = input.value.replace(/R\$|\,/g, "").trim();
                input.value = valorSemSimbolo;
            }
        </script> *@
    }